@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
}

html {
    scroll-behavior: smooth;
}

/* general classes */
.container {
    width: 80%;
    margin: 0 auto;
}

.w-50 {
    width: 48%;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.primary-btn {
    background: rgb(63, 11, 136);
    color: white;
    margin: 8px 0;
    font-size: 16px;
    padding: 20px 55px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all 0.4s;
    border-radius: 35px;
}

/* general text classes  */
.primary-text {
    font-size: 55px;
    text-align: center;
    margin: 20px 0 10px 0;
}

.secondary-text {
    margin: 15px 0;
    font-weight: 500;
    font-size: 18px;
}

.secondary-text-p {
    padding: 3px 18%;
}

.color-primary {
    color: rgb(63, 11, 136);
}

.color-white {
    color: white;
}

.color-dark {
    color: rgba(44, 43, 43, 0.611);
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

/* .......................  */
/* for background  */
.bg-primary {
    background: rgb(203 248 209);
}

.bg-secondary {
    background-color: #93e4ed82;
}

.bg-tertiary {
    background-color: #b500ff1a;
}

/* for margin  */
.mb-3 {
    margin-bottom: 20px;
}

.mt-5 {
    margin-top: 38px;
}

.my-5 {
    margin-top: 38px;
    margin-bottom: 38px;
}

/* ............... */
/* hero section classes */
.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(160, 100, 232, 0.499) 20%, rgba(6, 182, 118, 0.997) 90%),
        url('./images/donation0.jpg') no-repeat center center / cover;
    background-attachment: fixed;
}
.hero>div {
    height: 50%;
    width: 65%;
}
.hero_primary_text {
    text-align: center;
    font-size: 65px;
    color: white;
}
/* ............. */
/* arrow classes  */
.arrow-container {
    font-size: 25px;
    position: fixed;
    bottom: 8px;
    right: 8px;
    color: rgb(166, 57, 255);
    cursor: pointer;
}
/* ............  */
/* classes for donates today section  */
.donates-container {
    padding-top: 50px;
    padding-bottom: 30px;
}
.amount-container {
    width: 65%;
    margin: 40px auto;
    font-size: 20px;
}
.amount-card {
    width: 18%;
    padding: 35px;
    margin-bottom: 2rem;
    border-radius: 8px;
    color: rgba(44, 43, 43, 0.611);
    background-color: rgba(243, 243, 243, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.amount-card_active,
.amount-card:hover {
    border: 3px solid rgba(63, 11, 136, 0.767);
    color: rgba(63, 11, 136, 0.766);
    background-color: rgba(157, 198, 248, 0.248)
}
.donate-input {
    color: rgba(63, 11, 136, 0.766);
    width: 100%;
    height: 50px;
    font-size: 22px;
    outline: none;
    border-bottom: 3px solid gray;
    text-align: center;
    border-left: none;
    border-top: none;
    border-right: none;
    margin-bottom: 30px;
    caret-color: rgb(63, 11, 136);
}
.donate-input:focus {
    border-color: rgb(63, 11, 136);
}
/* .............  */
/* donates plan container classes  */
.card {
    width: 32%;
    margin-bottom: 2rem;
    padding: 40px 30px;
    border-radius: 22px;
    height: 400px;
}
.card:hover {
    box-shadow: 4px 6px 8px rgba(170, 178, 180, 0.368);
}
.card-icon {
    margin: 25px 0;
    width: 60px;
    height: 60px;

}
.card-icon>img {
    width: 100%;
    height: 100%;
}
.card-text {
    font-size: 26px;
    color: rgb(63, 11, 136, 0.7);
}
/* .........  */
/* join us classes */
.join-us {
    background-color: rgba(228, 241, 236, 0.263);
    padding: 50px 0;
    margin: 100px 0;
}
.join-img {
    width: 50%;
}
.join-img>img {
    height: 100%;
    width: 100%;
}
.join-input {
    outline: none;
    height: 50px;
    margin: 10px 0;
    border-width: 0 0 2px 0;
    border-color: rgb(192, 192, 193);
    font-size: 16px;
}
.join-input:focus {
    border-color: rgb(8, 6, 116);
}
.join-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    border-radius: 20px;
    box-shadow: 5px 5px 8px rgba(178, 176, 176, 0.547), -5px -5px 10px rgba(178, 176, 176, 0.547);
    background-color: rgb(255, 255, 255);
}
.form_container>h1 {
    font-size: 45px;
    margin: 20px 0;
}
.form_container {
    width: 50%;
    padding: 50px;
}
#text-area {
    resize: none;
    height: 65px;
}
/* .............  */
/* our updates section classes  */
.update-main_container {
    width: 65%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 50px auto;
}
.update-sub_container {
    height: 50px;
    display: flex;
    align-items: center;
    width: 70%;
}
.update-input {
    width: 75%;
    height: 100%;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 8px 0 0 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0px solid;
    outline: none;
    border-color: rgb(63, 11, 136);
}
.update-input:focus {
    border-bottom: 3px solid rgb(63, 11, 136);
}
.update-btn {
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    background-color: rgb(63, 11, 136);
    color: white;
    height: 100%;
    width: 25%;
    font-size: 18px;
    border: none;
    font-weight: 500;
}
/* .......... */
/* footer  */
.footer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 250px;
    background-color: rgb(63, 11, 136);
    color: white;
}
.footer-main_text {
    font-family: "Luckiest Guy";
    color: rgb(142, 247, 533);
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: 20px;
}
/* ................. */